html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.img {
  max-width: 100%;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  display: flex;
  color: #616060;
  margin-right: 10px;
  position: relative;
  z-index: 5;
}
.logo img {
  max-width: 100%;
  width: 40px;
  height: 25px;
  margin-right: 5px;
  margin-top: -1px;
  opacity: 0.7;
}
@media (max-width: 355px) {
  .logo img {
    display: none;
  }
}

.title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  max-width: 470px;
}
@media (max-width: 850px) {
  .text {
    margin: 0 auto 30px;
  }
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000;
  padding: 12px 0px;
  border-radius: 50px;
  width: 200px;
  border: 2px solid #000;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: translateY(-5px);
}

.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.014);
}
@media (max-width: 850px) {
  .header {
    padding: 10px 0;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.075);
  z-index: 5;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__body {
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .header__body {
    margin-left: auto;
  }
}
.header__search {
  position: relative;
  z-index: 5;
  margin-right: 20px;
  cursor: pointer;
}
.header__search img {
  width: 26px;
  height: 26px;
  transition: all 0.3s ease-in-out;
}
.header__search img:hover {
  transform: scale(1.05);
}
@media (max-width: 950px) {
  .header__search {
    display: none;
  }
}
.header__basket {
  position: relative;
  z-index: 5;
  margin-right: 20px;
  cursor: pointer;
}
.header__basket img {
  width: 26px;
  height: 26px;
  transition: all 0.3s ease-in-out;
}
.header__basket img:hover {
  transform: scale(1.05);
}
@media (max-width: 1050px) {
  .header__basket {
    margin-right: 0;
  }
}
@media (max-width: 950px) {
  .header__basket {
    display: none;
  }
}
@media (max-width: 850px) {
  .header__basket {
    display: block;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 850px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    margin-left: 5px;
    position: relative;
    z-index: 5;
  }
  .header__burger::after, .header__burger::before, .header__burger span {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616060;
    transition: all 0.3s ease-in-out;
  }
  .header__burger::before {
    top: 0;
    left: 0;
  }
  .header__burger span {
    top: 11px;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}

.menu {
  position: relative;
  z-index: 5;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 30px;
}
.menu__link {
  font-size: 16px;
  font-weight: 600;
  color: #616060;
  line-height: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.menu__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #292929;
  transition: all 0.3s ease-in-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
}
.menu__link:hover {
  color: #292929;
}
@media (max-width: 950px) {
  .menu__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: #f8f7f2;
    padding: 120px 15px 0 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    z-index: 4;
  }
  .menu__list {
    display: block;
    text-align: right;
  }
  .menu__item {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .menu__link {
    font-size: 32px;
  }
  .menu.active {
    right: 0;
  }
}

.social__list {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  opacity: 0.7;
}
.social__list li {
  margin-right: 10px;
}
.social__list li:last-child {
  margin-right: 0;
}
.social__list a img {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.social__list a img:hover {
  transform: scale(1.1);
}
@media (max-width: 1050px) {
  .social__list {
    display: none;
  }
}

.home {
  background-color: #222222;
  color: #fff;
  padding: 100px 0;
}
@media (max-width: 850px) {
  .home {
    padding-bottom: 50px;
  }
}
.home__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 850px) {
  .home__inner {
    display: block;
    text-align: center;
  }
}
.home__items {
  flex: 0 0 50%;
  margin-right: 20px;
}
@media (max-width: 850px) {
  .home__items {
    margin-bottom: 60px;
    margin-right: 0;
  }
}
.home__title {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 45px;
}
@media (max-width: 850px) {
  .home__title {
    font-size: calc(35px + 20 * (100vw - 320px) / 530);
    margin-bottom: 30px;
  }
}
.home__subtitle {
  color: #d2d2d2;
  margin-bottom: 60px;
}
.home__link {
  background-color: #fff;
  border: #fff;
}
.home .slick-track {
  display: flex;
}
.home .slick-list {
  overflow: hidden;
}
.home .home__slider {
  min-width: 0;
}
.home .home__slider .slick-dots {
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .home .home__slider .slick-dots {
    justify-content: center;
  }
}
.home .home__slider .slick-dots li {
  list-style: none;
  margin: 20px 10px 0;
}
.home .home__slider .slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #7a7a7a;
  border-radius: 50%;
  cursor: pointer;
}
.home .home__slider .slick-dots li.slick-active button {
  background-color: #414141;
  transition: all 0.3s ease-in-out;
}

.our-menu {
  padding: 100px 0;
}
@media (max-width: 850px) {
  .our-menu {
    padding-bottom: 50px;
  }
}
.our-menu__container {
  max-width: 600px;
}
.our-menu__title {
  margin-bottom: 20px;
  text-align: center;
}
.our-menu .slick-track {
  display: flex;
}
.our-menu__slider {
  text-align: center;
}
.our-menu__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-menu__slider .slick-dots li {
  list-style: none;
  margin: 20px 10px 0;
}
.our-menu__slider .slick-dots li button {
  font-size: 0;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 50%;
  cursor: pointer;
}
.our-menu__slider .slick-dots li.slick-active button {
  background-color: #7a7a7a;
  transition: all 0.3s ease-in-out;
}
.our-menu__item {
  text-align: center;
  opacity: 0.7;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}
.our-menu__item.slick-active {
  opacity: 1;
  transform: scale(1);
}
.our-menu__name {
  font-size: 24px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 25px;
}
.our-menu__price {
  font-size: 34px;
  font-weight: 700;
  color: #707070;
}

.delivering {
  background-color: #f5f5f5;
  color: #fff;
  padding: 100px 0;
}
@media (max-width: 850px) {
  .delivering {
    padding-bottom: 50px;
  }
}
.delivering__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 850px) {
  .delivering__inner {
    display: block;
    text-align: center;
  }
}
.delivering__items {
  flex: 0 0 50%;
  margin-right: 20px;
}
@media (max-width: 850px) {
  .delivering__items {
    margin-bottom: 60px;
    margin-right: 0;
  }
}
.delivering__title {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 45px;
  max-width: 670px;
  color: #000;
}
@media (max-width: 850px) {
  .delivering__title {
    font-size: calc(35px + 20 * (100vw - 320px) / 530);
    margin: 0 auto 30px;
  }
}
.delivering__subtitle {
  color: #707070;
  margin-bottom: 60px;
}

.service {
  padding: 100px 0;
}
@media (max-width: 850px) {
  .service {
    padding-bottom: 50px;
  }
}
.service__inner {
  margin: 0 auto;
}
.service__title {
  text-align: center;
  margin-bottom: 100px;
}
.service__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 0px 80px;
}
@media (max-width: 850px) {
  .service__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .service__row {
    display: block;
    text-align: center;
  }
}
.service__column {
  flex: 0 0 25%;
  padding: 0 20px 0;
  margin-bottom: 60px;
}
@media (max-width: 850px) {
  .service__column {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .service__column {
    border-bottom: #dfdfdf solid 1px;
  }
}
.service__item {
  display: flex;
  flex-direction: column;
}
.service__image {
  margin-bottom: 50px;
}
.service__image img {
  width: 130px;
  height: 130px;
}
.service__name {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  max-width: 150px;
  margin-bottom: 20px;
}
@media (max-width: 850px) {
  .service__name {
    margin: 0 auto 20px;
  }
}
@media (max-width: 550px) {
  .service__name {
    max-width: 100%;
  }
}
.service__text {
  color: #707070;
}
@media (max-width: 550px) {
  .service__text {
    margin-bottom: 20px;
  }
}
.service__button {
  text-align: center;
}

.contact {
  padding: 100px 0;
  background: #f5f5f5;
}
@media (max-width: 850px) {
  .contact {
    padding-bottom: 50px;
  }
}
.contact__inner {
  text-align: center;
}
.contact__title {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.contact__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 65px;
  height: 7px;
  background: #000;
  border-radius: 10px;
}
.contact__input {
  margin: 20px 0;
}
.contact__input ::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #707070;
  font-weight: 600;
  font-size: 12px;
}
.contact__input ::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #707070;
  font-weight: 600;
  font-size: 12px;
}
.contact__input textarea {
  width: 290px;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #707070;
  padding: 10px;
  font-size: 16px;
}
.contact__name {
  width: 290px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #707070;
  padding: 0 10px;
  font-size: 16px;
}
.contact__btn {
  background: transparent;
}

.partners {
  padding: 50px 0;
}
.partners__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(50px + 100 * (100vw - 320px) / 1140);
  overflow: auto;
}
.partners__image {
  opacity: 0.7;
  flex: 0 0 auto;
}
.partners__image img {
  max-width: 200px;
}

.footer {
  padding: 100px 0 0;
  background: #f5f5f5;
}
@media (max-width: 850px) {
  .footer {
    padding: 50px 0 0;
  }
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(50px + 80 * (100vw - 950px) / 510);
  padding-bottom: calc(50px + 50 * (100vw - 320px) / 1140);
  border-bottom: #000 solid 1px;
}
@media (max-width: 950px) {
  .footer__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .footer__block {
    grid-column: 1/4;
  }
  .footer__block:not(:first-child) {
    grid-row: 2/2;
    grid-column: auto;
  }
}
@media (max-width: 850px) {
  .footer__block:not(:last-child) {
    margin-bottom: 50px;
  }
}
.footer__logo {
  color: #000;
  margin-bottom: 20px;
}
.footer__logo img {
  opacity: 1;
}
.footer__text {
  margin: 0 0 20px;
}
@media (min-width: 950px) {
  .footer__text {
    width: 300px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__img {
  transition: all 0.3s ease-in-out;
  width: 32px;
  height: 32px;
}
.footer__img:hover {
  transform: scale(1.2);
}
.footer__copyright {
  margin: 10px 0;
  text-align: center;
}
.footer__cooper {
  font-size: 10px;
  max-width: 100%;
  margin: 0;
}
.footer__cooper a {
  color: #7a7a7a;
}

.footer-contact__header,
.footer-link__header {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.26;
  margin-bottom: 20px;
}
.footer-contact__item,
.footer-link__item {
  margin: 0;
}
.footer-contact__link,
.footer-link__link {
  color: #707070;
  line-height: 2;
  white-space: nowrap;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.footer-contact__link:hover,
.footer-link__link:hover {
  color: #000;
}/*# sourceMappingURL=style.css.map */